img {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 300px;
}

h1, p {
    text-align: center;
    color: white;
}

body{
    background-color: black;
    font-family: Arial, sans-serif;
}
