img {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 20px  ;
}

h1, p {
    text-align: center;
    color: white;
    
}

body{
    background-color: black;
    font-family: Arial, sans-serif;
    border: 5px solid white;
}
